.DS_Store

# SAP export data files above GitHub's 100MB file limit.
references/Store_And_Budget/NDBS_BUDGET_ALL/export/UAT_JBF2/OA/OACT_tracking/data
references/Store_And_Budget/NDBS_BUDGET_ALL/export/UAT_JBF2/JD/JDT1_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION(UTF_JBF2)/export/UAT_JBF2/OA/OACT_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION(UTF_JBF2)/export/UAT_JBF2/JD/JDT1_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION(UTF_JBF2)/export/UAT_JBF2/OI/OINV_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION/export/UAT_JBF2/OA/OACT_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION/export/UAT_JBF2/JD/JDT1_tracking/data
references/Store_And_Budget/SBO_SP_TRANSACTIONNOTIFICATION/export/UAT_JBF2/OI/OINV_tracking/data
